%nav.navbar.navbar-expand-md.navbar-light.shadow-sm.header-container
  %a.navbar-brand{:href => "/products"} Ako-shop
  = link_to "HOMEへ",products_path, class: "btn btn-secondary btn-sm mr-2" 
  = link_to destroy_admin_session_path , method: :delete , class: "btn btn-dark btn-sm" do
    管理者ログアウト
