.container
  .row.justify-content-center
    .col-md-12
      %span
        = link_to "マイページ", mypage_users_path
        \&gt; #{link_to "購入履歴", mypage_purchases_users_path} &gt; 購入履歴詳細
      .content.mt-3
        %h1.purchase-title 購入履歴詳細
        = render 'show'
