.col-md-8.offset-md-1.content
  %h2 ABOUT
  %table.table.table-hover.table-inverse
    %tbody
      %tr
        %td
          = image_tag "image5.jpeg", class: "about_image",size: "100x100"
        %td
          AKO SHOP.
        %th
        %th
        %th
  %hr/
  .col-12
    %p
    AKO SHOP.は、コーヒー豆やオリジナル商品を扱うウェブストアです。

