.side-admin{
  background-color: #191919;
  color: #fff;
  
}

.sidebar-category-label{
  color: #fff;
  margin-left: 30px;

  
}
.sidebar-category-label:hover{
  color:#666;	
  text-decoration: none;
}

.csv-button{
  border-radius: 2px;
  border: solid 1px #b2b2b2;
  background-color: #ffffff;
}
