.side-admin{
  background-color: #191919;
  color: #fff;
  
}

.sidebar-category-label{
  color: #fff;
  margin-left: 30px;

  
}
.sidebar-category-label:hover{
  color:#666;	
  text-decoration: none;
}