@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'header';
@import 'likes';
@import 'admin';
@import 'nav';
@import 'tag';
@import 'product';

body {
  margin: 0;
  font-family: Lato,Nunito, sans-serif;
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #F0F7B6;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.11px;
}

h2{
  font-weight: bold;
}
.content{
  width: 90%;
  padding: 40px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
}


a{
  text-decoration: none;
  color:#212529
}

a:hover{
  text-decoration: none;
}

ul {
  list-style-type: none 
}



.item-price{
  padding: 15px 0;
  letter-spacing: 0.03em;
  font-size: 30px;
  span{
    font-size: 14px;
    font-weight: normal;
  }
}






.h-10 {
  height: 10%!important;
}

.w-20 {
  width: 20%!important;
}

.w-80 {
  width: 80%!important;
}


@media screen and (min-width:760px){

  .openbtn{
    display: none;
  }  
  
  }

  @media screen and (max-width:760px){
    #header-menu{
      display: none;
    }
    .account-btn{
      display: none;
    }
    .account{
      margin-left: 90%;
    }

    .main-image{
      width:100%;
    }
  }


// ランキング
  .product-box{
    border:solid 1px #333;
    margin:0 ;
    border-radius: 4px;
    position: relative;
  }

.box-step{
  background-color: rgb(85,85,85);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  margin: 0;
  width: 20%;
  text-align: center;
}

.gold {
  background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
}
.silver {
background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);}

.copper{
  background: -webkit-gradient(linear, left top, right bottom, from(#97461a), color-stop(0.3, #fbd8c5), color-stop(0.8, #6c2e16), to(#efdbcd));
}

//検索
.product_form{
  display: flex;
}

.main-visual{/*親div*/
  position: relative;/*相対配置*/
}
.main-visual p{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;/*余計な隙間を除く*/
  padding:0;/*余計な隙間を除く*/
  color: white;/*文字色*/
  font-size: 80px;/*文字サイズ*/
  text-align:center;/*pタグ内で更に中央寄せ*/
  font-family: 'Quicksand',sans-serif;
}

.coffe-icon {
  display:block;/*前後に改行*/
  margin: 0 auto;
  padding-bottom:10px;/*文字との隙間*/
  font-size: 3em;/*文字の3倍のサイズに*/
  color: rgba(255, 255, 255, 0.6);/*半透明*/
  
}


.main-image {
  width: 100%;
}