@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'header';
@import 'likes';
@import 'admin';
body {
  margin: 0;
  font-family: Lato,Nunito, sans-serif;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: #FCF0E1;
}

.content{
  width: 90%;
  padding: 40px;
  background-color: #fff;
  margin: 0 auto;
}

h3, .h3 {
  font-size: 1.575rem;
}

a{
  text-decoration: none;
}

.navbar-brand {
  display: inline-block;
  padding-top: .32rem;
  padding-bottom: .32rem;
  margin-right: 1rem;
  font-size: 1.125rem;
  line-height: inherit;
  white-space: nowrap
}


.item-price{
  padding: 15px 0;
  letter-spacing: 0.03em;
  font-size: 30px;
  span{
    font-size: 14px;
    font-weight: normal;
  }
}

@font-face {
  font-family: Lato;
  src: local(YuGo-Medium);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:Lato;
  src: local(YuGo-Bold);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

h1 {
  font-family: Lato;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
}

h2 {
  font-family: Lato;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

h3 {
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.04px;
}

big {
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.08px;
}

body {
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.11px;
}

caption {
  font-family: Lato;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.08px;
}

label {
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

