.header-container {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.header-search-input {
  border: solid 1px #e5e5e5;
}

.header-search-button {
  background-color: #191919;
}

.header-search-icon {
  color: #ffffff;
}

.header-fav-icon {
  color: #191919;
}

.header-shoppingcart-icon {
  color: #ffffff;
}
