
<ul class="navbar-nav ml-auto">
  <li class="nav-item dropdown">
    <%= link_to "#", id: "Dropdown", class: "mx-auto",
    role: "button", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" } do %>
        <p>CATEGORY</p><span class="caret"></span>
    <% end %>
    <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
      <% @categories.each do |category| %>
        <%= link_to category.name, products_path(category: category.id) %><br>
      <% end %>                  
    </div>
  </li>
</ul>